<div class="customer-component pl-30">

  <div>
    <div class="content p-10">
      <p-table #dt1 [value]="customers" responsiveLayout="stack" styleClass="p-datatable-gridlines"
               class="table-auto border-collapse border border-slate-400"
               [paginator]="true" [rows]="rows" [showCurrentPageReport]="true" [(first)]="first"
               currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
               [rowsPerPageOptions]="[10,25,50]" [globalFilterFields]="['name','country','state','countryCode']">
        <ng-template pTemplate="caption">
          <div class="flex">
            <button pButton label="Clear" class="p-button-outlined" icon="pi pi-filter-slash"
                    (click)="clear(dt1)"></button>
            <span class="p-input-icon-left ml-auto">
                    <i class="pi pi-search"></i>
                    <input pInputText type="text" (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
                           placeholder="Search keyword"/>
                </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th class="border border-slate-300 font-semibold">Name</th>
            <th class="border border-slate-300 font-semibold">Phone</th>
            <th class="border border-slate-300 font-semibold">
              <div class="flex justify-content-center align-items-center">
                Country
                <p-columnFilter type="text" field="country" display="menu"></p-columnFilter>
              </div>
            </th>
            <th class="border border-slate-300 font-semibold">
              <div class="flex justify-content-center align-items-center">
                State
                <p-columnFilter type="text" field="state" display="menu"></p-columnFilter>
              </div>
            </th>
            <th class="border border-slate-300 font-semibold">Code</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-customer>
          <tr>
            <td class="border border-slate-300"><span class="p-column-title font-semibold">Name</span>{{customer.name}}
            </td>
            <td class="border border-slate-300"><span
              class="p-column-title font-semibold">Phone</span>{{customer.phone}}</td>
            <td class="border border-slate-300"><span
              class="p-column-title font-semibold">Country</span>{{customer.country}}</td>
            <td class="border border-slate-300"><span
              class="p-column-title font-semibold">State</span>{{customer.state}}</td>
            <td class="border border-slate-300"><span
              class="p-column-title font-semibold">Code</span>{{customer.countryCode}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>


